﻿^Label {
    color: #717171;
    font-size: 14;
}

.View {
    background-color: #F5F5F5;
}

.Button {
    border-color: #77BC1F;
    border-width: 1;
    background-color: transparent;
    color: #77BC1F;
}

.ButtonWhite {
    border-color: #FFFFFF;
    border-width: 1;
    background-color: transparent;
    color: #FFFFFF;
    height: 32;
}

.ButtonAccented {
    background-color: #77BC1F;
    color: white;
}

.SearchItemCaption {
    color: #FECC5E;
    font-size: 16;
}

.SearchItemPrice {
    font-size: 12;
    font-style: bold;
}

.MenuItemCaption {
    font-size: 16;
    color: #000000;
}

.ProductsGroupCaption {
    color: #77BC1F;
    font-style: bold;
}

.ProductPrice {
    color: #77BC1F;
    font-style: bold;
}

.ProductsSeeMore {
    color: #77BC1F;
}

.ProductCaption {
    font-size: 12;
}

.CompanyAddressCaption {
    font-size: 12;
}

.CompanyAddressLinePrimary {
    font-style: bold;
}

.CompanyAddressLineSecondary {
    font-size: 14;
}

.CompanyAddressChangeCustomer {
    color: #77BC1F;
    font-size: 14;
}

.AccountActionItem {
    font-size: 16;
    font-style: bold;
}

.CartContentsCaption {
    font-size: 14;
}

.CartItemCaption {
    font-size: 15;
    font-style: bold;
}

.CartItemDetails {
    font-size: 12;
    color: #C8C7CC;
}

.CartItemPrice {
    font-size: 15;
    color: #77BC1F;
    font-style: bold;
}

.CartItemCount {
    font-size: 12;
}

.CartItemPriceCaption {
    font-size: 12;
    font-style: bold;
}

.CartItemLineNotes {
    font-size: 12;
    color: #C8C7CC;
}

.ListsItemCaption {
    font-size: 14;
    font-style: bold;
}

.ListsItemDetails {
    font-size: 10;
}

.ListsItemPrice {
    font-size: 14;
    font-style: bold;
    color: #77BC1F;
}

.ListsItemCount {
    font-size: 10;
    font-style: bold;
}

.Divider {
    color: #C8C7CC;
}

.DemoText {
    font-size: 24;
    font-style: bold;
}

.BadgeText {
    font-size: 13;
    color: #FFFFFF;
    font-style: bold;
}

.AccessoriesItemAvailability {
    font-size: 12;
    font-style: bold;
}

.AccessoriesItemDetails {
    font-size: 15;
    color: #C8C7CC;
}
